{{define "dashboard"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

</head>
<body>

    <div class="m-5 container">
        

        <h1 class="fs-1">Dashboard</h1>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">Create User</button>
                <a href="/create" class="btn btn-warning">Create Article</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                {{if .Posts}}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Date Posted</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Posts}}
                                <tr>
                                    <td>{{.Title}}</td>
                                    <td>{{.CreatedAt.Format "Jan 02, 2006 at 15:04"}}</td>
                                    <td>
                                        <a href="/edit/" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="/delete/" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                {{else}}
                    <p class="text-center">No posts available.</p>
                {{end}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                {{if .Users}}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Users}}
                                <tr>
                                    <td>{{.Username}}</td>
                                    <td>{{.CreatedAt.Format "Jan 02, 2006 at 15:04"}}</td>
                                    <td>
                                        <a href="/edit/" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="/delete/" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                {{else}}
                    <p class="text-center">No posts available.</p>
                {{end}}
            </div>
        </div>

        
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
{{end}}
